# Banco de dados
selfgur.db
selfgur.db-shm
selfgur.db-wal

# Uploads dos clientes
static/*
!static/na.txt

# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
